@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Sample Open Xml </p>
    <p>Mahmoud Abu Jahel</p>
    <p>whatsApp : +972595454391 </p>
</div>
